.program {
  background-color: #88888855;
  color: #DDDDDD;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  position: relative;
  padding: 0.3em;
  border-radius: 0.5em;
}
.inputContainer {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.input, .title {
  font-size: 1.6em;
  font-weight: 600;
}
.date {
  font-style: italic;
  color: #FFFFFF88;
}
.hiddenButtons {
  opacity: 0;
  display: flex;
  gap: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.program:hover .hiddenButtons {
  opacity: 1;
  gap: 0.4em;
}
.hiddenButtons button {
  width: 1.1em;
  height: 1.1em;
  filter: brightness(70%);
  color: #FFFFFFAA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiddenButtons button:hover {
  filter: brightness(100%);
  transform: scale(1.05);
}
.hiddenButtons .deleteButton {
  width: 0;
  color: #FF4545AA;
  transition: width 250ms ease;
}
.program:hover .deleteButton {
  width: 1.1em;
}
.saveButton {
  background-color: #e0c022;
  color: #000000;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}
.clickableOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5em;
}