*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 80ms ease;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000000;
  color: white;
  font-family: 'Work Sans', sans-serif;
  overflow-y: hidden;
}
@media screen and (hover: hover) {
  *::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: #12100399;
  }
  *::-webkit-scrollbar-corner {
    background-color: #12100399;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #121003;
    border-radius: 1em;
    border: 1px solid #221e0699;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #1c1a05;
    border-color: #221e06aa;
  }
  *::-webkit-scrollbar-thumb:active {
    background-color: #242006;
    border-color: #221e06cc;
    border-width: 2px;
  }
}

button {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}
img,
svg {
  width: 100%;
  height: 100%;
}
input,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
}
