.colorDiscs {
  background-color: #ffffff44;
  display: flex;
  padding: 0.2em;
  border-radius: 0.4em;
}
.colorDiscs:disabled {
  cursor: default;
  pointer-events: none;
}
.colorDiscs:not(:disabled):hover,
.colorDiscs.isSelected {
  background-color: #ffffff88;
}
.colorDiscs div {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
  pointer-events: none;
}
.secondary {
  margin-left: -0.5em;
}
.monotone .primary {
  background-color: #000000;
}
.monotone .secondary {
  background-color: #ffffff;
}
.brainsprain .primary {
  background-color: #e0c022;
}
.brainsprain .secondary {
  background-color: #000000;
}
.liquidstone .primary {
  background-color: #020e12;
}
.liquidstone .secondary {
  background-color: #98ad06;
}
.curlystick .primary {
  background-color: #040518;
}
.curlystick .secondary {
  background-color: #e89b19;
}
.talldwarf .primary {
  background-color: #b9bac5;
}
.talldwarf .secondary {
  background-color: #4440b3;
}
.envoys .primary {
  background-color: #b9bac5;
}
.envoys .secondary {
  background-color: #008000;
}
.vsaandpoe .primary {
  background-color: #4da8d5;
}
.vsaandpoe .secondary {
  background-color: #04053e;
}

.themeContainer {
  position: relative;
}
.themes {
  width: 7em;
  background-color: #ffffff44;
  backdrop-filter: blur(6px);
  opacity: 0;
  display: flex;
  gap: 0.3em;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 0.3em;
  border-radius: 0.4em;
  z-index: 10;
  pointer-events: none;
}
.themes.isOpen {
  opacity: 1;
  top: 105%;
  pointer-events: initial;
}
