.input {
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-align: center;
  border: none;
  /* border: 1px solid #fff4; */
  outline: none;
  caret-color: transparent;
}
.input:focus {
  background-color: #fff3;
}
.visible {
  transition: all 200ms ease;
}
.hidden {
  font-size: 0;
}